<div class="row">
  <div class="card shadow col-sm-3  d-flex flex-wrap m-3" style="width: 18rem;" *ngFor="let character of characters">
    <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" >{{character.name}}</h5>
      <p class="card-text" *ngIf="(character.description != '')">{{character.description}}</p>
      <p class="card-text" *ngIf="(character.description == '')">This hero dont have a Description</p>
      <a [routerLink]="['/characters/details',character.id]" class="btn btn-primary">Go to Detail</a>
    </div>
  </div>
</div>
